<%= form_for(@resume, :multipart => true) do |f| %>
  <div class="field">
    <%= f.label :resume_pdf_file %><br>
    <%= f.file_field :resume_pdf_file, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
